@font-face{
  font-family: "Luckiest-Guy";
  src:url('./assets/LuckiestGuy-Regular.ttf')
}

@keyframes width_100{
  0% {width: 50%;}
  50%{width: 75%;}
  100%{width: 100%;}
}

@keyframes width_0{
  0% {width:50%}
  50%{width: 25%;}
  100%{width:0%;}
}

.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  color:white;
}

.container{
  height:70%;
}

.height_100{
  height: 100%;
}

.luckiest-guy{
  font-family: "Luckiest-Guy";
}

.em-2{
  font-size: 2em;
}

.expand{
  max-width: unset !important;
  animation-name: width_100;
  animation-duration: 4s;
}

.shrink{
  max-width: unset !important;
  animation-name: width_0;
  animation-duration: 4s;
  display: none;
}